body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

footer {
    margin-top: auto;
}

.footer{
    background-color: #e2e2e2;
}

.is-ancestor{
    flex-wrap: wrap;
}